# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.vscode/
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# Misc
*.swp
*.swo
.DS_Store
Thumbs.db
